.enter{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.389vw;
}

.label-enter{
    color: rgba(23, 23, 25, .3);
    font-size: 1vw;
}

.input{
    width: 23.194vw;
    height: 2.8vw;
    font-size: 1vw;
    padding: .833vw 1.042vw .833vw 1.042vw;
}

@media screen and (max-width: 768px) {
    .enter{
        margin-bottom: 2.604vw;
    }

    .label-enter{
        font-size: 2.083vw;
    }

    .input{
        width: 43.490vw;
        margin-bottom: 3vw;
        height: 6.250vw;
        border-radius: 1.302vw;
        font-size: 2.604vw;
        padding: 1.563vw 1.953vw 1.563vw 1.953vw;
    }
}

@media screen and (max-width: 320px) {
    .enter{
        margin-bottom: 10vw;
    }

    .label-enter{
        font-size: 5vw;
    }

    .input{
        width: 88.75vw;
        height: 15vw;
        border-radius: 3.125vw;
        font-size: 5vw;
        padding: 3.750vw 4.688vw 3.750vw 4.688vw ;
    }
}

.clicked{
    border: #BA1735 solid .1vw !important;
}

.borr-10{
    border-radius: 0.694vw;
}

@media screen and (max-width: 768px) {
    input{
        border-radius: 1.302vw;
    }

    button{
        font-size: 2.604vw;
    }

    .borr-10{
        border-radius: 1.302vw;
    }
}

@media screen and (max-width: 320px) {
    input{
        border-radius: 3.125vw;
    }

    button{
        font-size: 6.25vw;
    }

    .borr-10{
        border-radius: 3.125vw;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}